{% extends "admin/base_site.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<table border="1" cellpadding="10" style="text-align: center; width: 40%;">
    <thead>
        <tr>
            <th style="background-color: #cfcccc; font-weight: bold; text-align: center; font-size: 14px; color: black;">
                Destination
            </th>
            <th style="background-color: #cfcccc; font-weight: bold; text-align: center; font-size: 14px; color: black;">
                Dates
            </th>
        </tr>
    </thead>

    <tbody>
        {% for item in summary %}
        <tr>
            <td>{{ item.to_location }}</td>
            <td>
                {% for date in item.dates %}
                <a href="{% url 'admin:GetMeYatraApp_tripbooking_changelist' %}?to_location__exact={{ item.to_location }}&date__exact={{ date|date:'Y-m-d' }}"
                    style="margin: 0 5px; font-weight: bold; color: #0c4b33;">
                    {{ date|date:"d-m-Y" }}
                </a>{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}